html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0 1.5rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

#basicUI{
  display: none;
}
#buttons{
  height:100%;
  width:50%;
  position:absolute;
  top: 10%;
  left: 0;
  background-color: aqua;
}
#display{
  height:100%;
  width:50%;
  position:absolute;
  top: 10%;
  right: 0;
  background-color: greenyellow;
}