#leftButtons        { grid-area: LB; }
#leftResults        { grid-area: LR; }
#rightButtons       { grid-area: RB; }
#rightResults       { grid-area: RR; }
#salaryComparison   { grid-area: SC; }
#utilityButtons     { grid-area: UB; }

#mapGridContainer{
    display: grid;
    grid-template-areas: 
        'UB UB UB UB'
        'SC SC SC SC' 
        'LR LR RR RR' 
        'LR LR RR RR' 
        'LR LR RR RR'  
        'LR LR RR RR' ;
    font-family: JosefinSansBold;
}

#mapGridContainer > div{
    text-align: center;
    padding-bottom: 30px;
    font-size: 2.5vw;
}

.MapChart {
    padding: 5%;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    background-color: #003049;
}

@font-face {
    font-family: 'JosefinSans';
    src: local('JosefinSans-Regular'), url(fonts/JosefinSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'JosefinSansBold';
    src: local('JosefinSans-Bold'), url(fonts/JosefinSans-Bold.ttf) format('truetype');
}

#salaryInput {
    text-align: center;
    font-family: JosefinSansBold;
    background-color: #003049;
    color: #fdf0d5;
    border-radius: 10px;
    border-style: solid;
    font-size: 2vw;
    width: 18%;
}

#root {
    background-color: #003049;
    text-align: center;
    color: #fdf0d5;
    font-family: JosefinSans;
}

#title {
    font-size: 7vw;
    padding-top: 20px;
}

::placeholder {
    color: #FFFFFF;
    opacity: 80%;
}

.panelButton {
    background-color: #003049;
    margin-right: 8px;
    padding: 3px;
    font-size: 2vw;
    font-family: JosefinSansBold;
    color: #fdf0d5;
    border-style: solid;
    border-color: #fdf0d5;
    border-radius: 10px;
}

.panelButton:active {
    color: #72603d;
    border-color: #72603d;
}

.rsm-svg {
    width: 70%;
}