#leftResults        { grid-area: LR; }
#rightResults       { grid-area: RR; }
#salaryComparison   { grid-area: SC; }
#map                { grid-area: MAP; }

@media (min-aspect-ratio: 1/1){
    body{
        background-color: black;
    }
    #mapGridContainer{
        display: grid;
        grid-template-areas: 
            'LR MAP MAP MAP MAP RR'
            'LR MAP MAP MAP MAP RR'
            'LR MAP MAP MAP MAP RR'
            'LR MAP MAP MAP MAP RR'
            'SC SC SC SC SC SC';
        font-family: JosefinSansBold;
    }
}

@media (max-aspect-ratio: 1/1){
    #mapGridContainer{
        display: grid;
        grid-template-areas: 
            'MAP MAP MAP MAP'
            'SC SC SC SC'
            'LR LR RR RR'
            'LR LR RR RR' ;
        font-family: JosefinSansBold;
    }
}

#mapGridContainer > div{
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.MapChart {
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    background-color: #003049;
}

@font-face {
    font-family: 'JosefinSans';
    src: local('JosefinSans-Regular'), url(fonts/JosefinSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'JosefinSansBold';
    src: local('JosefinSans-Bold'), url(fonts/JosefinSans-Bold.ttf) format('truetype');
}

#salaryInput {
    text-align: center;
    font-family: JosefinSansBold;
    background-color: #003049;
    color: #fdf0d5;
    border-radius: 10px;
    border-style: solid;
    font-size: 1.5vw;
    width: 18%;
}

#root {
    background-color: #003049;
    text-align: center;
    color: #fdf0d5;
    font-family: JosefinSans;
    padding-bottom: 150px;
}

#title {
    font-size: 7vw;
    padding-top: 20px;
}

::placeholder {
    color: #FFFFFF;
    opacity: 80%;
}

.panelButton {
    background-color: #990000;
    margin-right: 8px;
    padding: 3px;
    font-size: 2vw;
    font-family: JosefinSansBold;
    color: #fdf0d5;
    border-style: solid;
    border-color: #fdf0d5;
    border-radius: 10px;
    margin-top: 30px;
}

.panelButton:active {
    color: #72603d;
    border-color: #72603d;
}

.rsm-svg {
    width: 100%;
}

#sidePanel {
    background-color: #780000;
    height: 100%;
    width: 20%;
    padding:10px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

#sidePanelLabel {
    background-color: #780000;
    padding: 30px;
    font-size: 2.5vw;
}

.openSidePanel {
    animation: moveLeft 0.5s ease-in-out forwards;
}

@keyframes moveLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0rem);
    }
}

.closeSidePanel {
    animation: moveRight 0.5s ease-in-out forwards;
}

@keyframes moveRight {
    from {
      transform: translateX(0rem);
    }
    to {
      transform: translateX(100%);
    }
}